[user]
	name = YHM07
	email = yangheming55@126.com
[core]
	editor = vim
[merge]
	tool = vimdiff
[alias]
	ll = log --graph --all --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an, %ar%Creset' --decorate --abbrev-commit --max-count=20
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
    l  = log --color --graph --stat --decorate --abbrev-commit --max-count=3
	st = status -sb
	ci = commit
	co = checkout
	br = branch
	ps = push
	pl = pull
	unstage = reset HEAD --
	last = log -1 HEAD
	
[color]
	diff = auto
	status = auto
	branch = auto
